# **ETL del Proyecto 1: MLOps**
### Tabla steam_games
#### Importando librerias:

In [31]:
import pandas as pd
import numpy as np
import json

## **Empezando la Extracción**

In [32]:
ruta_steam_games = r"C:\\Users\\Usuario\\Desktop\\Labs\\Proyecto_1\\datasets_originales\\output_steam_games.json"

steam_games = [] # Lista que guarda los json leidos

with open(ruta_steam_games, "r") as games:
    for linea in games:
        steam_game = json.loads(linea)
        steam_games.append(steam_game)

for i in range(5):   # Verificamos que el contenido se guardo en la lista
    print(steam_games[i])

{'publisher': nan, 'genres': nan, 'app_name': nan, 'title': nan, 'url': nan, 'release_date': nan, 'tags': nan, 'reviews_url': nan, 'specs': nan, 'price': nan, 'early_access': nan, 'id': nan, 'developer': nan}
{'publisher': nan, 'genres': nan, 'app_name': nan, 'title': nan, 'url': nan, 'release_date': nan, 'tags': nan, 'reviews_url': nan, 'specs': nan, 'price': nan, 'early_access': nan, 'id': nan, 'developer': nan}
{'publisher': nan, 'genres': nan, 'app_name': nan, 'title': nan, 'url': nan, 'release_date': nan, 'tags': nan, 'reviews_url': nan, 'specs': nan, 'price': nan, 'early_access': nan, 'id': nan, 'developer': nan}
{'publisher': nan, 'genres': nan, 'app_name': nan, 'title': nan, 'url': nan, 'release_date': nan, 'tags': nan, 'reviews_url': nan, 'specs': nan, 'price': nan, 'early_access': nan, 'id': nan, 'developer': nan}
{'publisher': nan, 'genres': nan, 'app_name': nan, 'title': nan, 'url': nan, 'release_date': nan, 'tags': nan, 'reviews_url': nan, 'specs': nan, 'price': nan, 'early_access': nan, 'id': nan, 'developer': nan}

#### Convertimos la lista en DataFrame y visualizamos:

In [33]:
df_games = pd.DataFrame(steam_games)
df_games.tail(3)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

## **Empezamos la transformación**

In [34]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

Encontramos que mas de 80 mil registros están vacios, procedemos a eliminarlos:

In [35]:
df_games = df_games.dropna(how="all")
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 3.4+ MB

Al ver las columnas 'app_name' y 'title', estas tienen el mismo dato, queremos eliminar a 'title' ya que tiene más nulos
que 'app_name'. Verificamos los registros que en 'app_name' son nulos:

In [36]:
df_games[df_games["app_name"].isnull()]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88384,NaN,NaN,NaN,NaN,http://store.steampowered.com/,NaN,NaN,NaN,NaN,19.99,False,NaN,NaN
90890,NaN,"[Action, Indie]",NaN,NaN,http://store.steampowered.com/app/317160/_/,2014-08-26,"[Action, Indie]",http://steamcommunity.com/app/317160/reviews/?...,"[Single-player, Game demo]",NaN,False,317160,NaN

Ya que estos dos registros carecen de información procedemos a eliminarlos:

In [37]:
a_eliminar = [88384, 90890]
df_games = df_games.drop(index=a_eliminar)

df_games[df_games["app_name"].isnull()]

Empty DataFrame
Columns: [publisher, genres, app_name, title, url, release_date, tags, reviews_url, specs, price, early_access, id, developer]
Index: []

Comparamos las columnas 'app_name' y 'title'

In [38]:
comparadas = df_games["app_name"].compare(df_games["title"])
comparadas

                        self other
88314          Log Challenge   NaN
88321   Icarus Six Sixty Six   NaN
88329          After Life VR   NaN
88330             Kitty Hawk   NaN
88332             Mortars VR   NaN
...                      ...   ...
120383        Tank of War-VR   NaN
120386           Flappy Arms   NaN
120387           SpaceWalker   NaN
120395            LIV Client   NaN
120444           Maze Run VR   NaN

[2603 rows x 2 columns]

Comparamos los datos de ambas columnas cuando 'title' no tiene NaN's

In [39]:
comparadas[comparadas["other"].notna()]

,self,other
88390,Sam & Max 101: Culture Shock,Sam &amp; Max 101: Culture Shock
88393,Sam & Max 102: Situation: Comedy,Sam &amp; Max 102: Situation: Comedy
88419,Command & Conquer: Red Alert 3,Command &amp; Conquer: Red Alert 3
88492,Heroes of Might & Magic V: Hammers of Fate,Heroes of Might &amp; Magic V: Hammers of Fate
88494,Heroes of Might & Magic V: Tribes of the East,Heroes of Might &amp; Magic V: Tribes of the East
...,...,...
120181,Sam & Max 105: Reality 2.0,Sam &amp; Max 105: Reality 2.0
120182,Sam & Max 104: Abe Lincoln Must Die!,Sam &amp; Max 104: Abe Lincoln Must Die!
120183,Sam & Max 106: Bright Side of the Moon,Sam &amp; Max 106: Bright Side of the Moon
120208,Making History: The Calm & the Storm,Making History: The Calm &amp; the Storm
120362,Dark Messiah of Might & Magic,Dark Messiah of Might &amp; Magic

Eliminamos la columna 'title' del dataframe:

In [40]:
df_games = df_games.drop("title", axis=1)
df_games.head(2)

,publisher,genres,app_name,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL

Reseteamos el index

In [41]:
df_games = df_games.reset_index(drop=True)
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28851 non-null  object
 2   app_name      32133 non-null  object
 3   url           32133 non-null  object
 4   release_date  30067 non-null  object
 5   tags          31971 non-null  object
 6   reviews_url   32132 non-null  object
 7   specs         31464 non-null  object
 8   price         30757 non-null  object
 9   early_access  32133 non-null  object
 10  id            32132 non-null  object
 11  developer     28836 non-null  object
dtypes: object(12)
memory usage: 2.9+ MB

Considero innecesarias algunas columnas, asi que las eliminaremos:

In [42]:
a_eliminar = ["publisher","tags", "reviews_url", "specs", "early_access", "url"]
df_games = df_games.drop(a_eliminar, axis=1)

df_games.head(3)

,genres,app_name,release_date,price,id,developer
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,Free To Play,643980,Secret Level SRL
2,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,Free to Play,670290,Poolians.com

In [43]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28851 non-null  object
 1   app_name      32133 non-null  object
 2   release_date  30067 non-null  object
 3   price         30757 non-null  object
 4   id            32132 non-null  object
 5   developer     28836 non-null  object
dtypes: object(6)
memory usage: 1.5+ MB

Existe un nulo en id que se debe corregir

In [44]:
df_games[df_games["id"].isna()]

,genres,app_name,release_date,price,id,developer
30959,"[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,2012-09-07,19.99,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

Le colocaremos el id que tenia en la url

In [45]:
df_games.loc[30959, "id"] = 200260
df_games.loc[30959]

genres                                     [Action, Adventure]
app_name        Batman: Arkham City - Game of the Year Edition
release_date                                        2012-09-07
price                                                    19.99
id                                                      200260
developer           Rocksteady Studios,Feral Interactive (Mac)
Name: 30959, dtype: object

Minimizamos los valores de la columna 'price' y vemos los valores unicos de la columna 'price'

In [46]:
def minimizar_texto(valor):
    if isinstance(valor, str) and not valor.isdigit():
        return valor.lower()
    return valor

df_games["price"] = df_games["price"].apply(minimizar_texto)
df_games["price"].unique()

array([4.99, 'free to play', 0.99, 2.99, 3.99, 9.99, 18.99, 29.99, nan,
       'free', 10.99, 1.59, 14.99, 1.99, 59.99, 8.99, 6.99, 7.99, 39.99,
       19.99, 7.49, 12.99, 5.99, 2.49, 15.99, 1.25, 24.99, 17.99, 61.99,
       3.49, 11.99, 13.99, 'free demo', 'play for free!', 34.99, 74.76,
       1.49, 32.99, 99.99, 14.95, 69.99, 16.99, 79.99, 49.99, 5.0, 44.99,
       13.98, 29.96, 119.99, 109.99, 149.99, 771.71, 'install now', 21.99,
       89.99, 'play warmachine: tactics demo', 0.98, 139.92, 4.29, 64.99,
       'free mod', 54.99, 74.99, 'install theme', 0.89, 'third-party',
       0.5, 'play now', 299.99, 1.29, 3.0, 15.0, 5.49, 23.99, 49.0, 20.99,
       10.93, 1.39, 'free hitman™ holiday pack', 36.99, 4.49, 2.0, 4.0,
       9.0, 234.99, 1.95, 1.5, 199.0, 189.0, 6.66, 27.99, 10.49, 129.99,
       179.0, 26.99, 399.99, 31.99, 399.0, 20.0, 40.0, 3.33, 199.99,
       22.99, 320.0, 38.85, 71.7, 59.95, 995.0, 27.49, 3.39, 6.0, 19.95,
       499.99, 16.06, 4.68, 131.4, 44.98, 202.76, 1.0, 2.3, 0.95, 172.24,
       249.99, 2.97, 10.96, 10.0, 30.0, 2.66, 6.48, 19.29, 11.15, 18.9,
       2.89, 'play the demo', 99.0, 87.94, 599.0, 8.98, 9.69, 0.49, 9.98,
       9.95, 7.0, 'starting at $499.00', 'starting at $449.00', 12.89,
       6.49, 1.87, 42.99, 41.99, 289.99, 'free to try', 23.96, 5.65, 12.0,
       13.37, 189.96, 124.99, 'free movie', 19.98, 160.91, 'free to use'],
      dtype=object)

Ahora reemplazaremos todas las formas de 'free to play' por solamente free

In [47]:
df_games["price"] = df_games["price"].astype(str).str.replace(r'.*free.*', 'free', regex=True)
df_games["price"].unique()

array(['4.99', 'free', '0.99', '2.99', '3.99', '9.99', '18.99', '29.99',
       'nan', '10.99', '1.59', '14.99', '1.99', '59.99', '8.99', '6.99',
       '7.99', '39.99', '19.99', '7.49', '12.99', '5.99', '2.49', '15.99',
       '1.25', '24.99', '17.99', '61.99', '3.49', '11.99', '13.99',
       '34.99', '74.76', '1.49', '32.99', '99.99', '14.95', '69.99',
       '16.99', '79.99', '49.99', '5.0', '44.99', '13.98', '29.96',
       '119.99', '109.99', '149.99', '771.71', 'install now', '21.99',
       '89.99', 'play warmachine: tactics demo', '0.98', '139.92', '4.29',
       '64.99', '54.99', '74.99', 'install theme', '0.89', 'third-party',
       '0.5', 'play now', '299.99', '1.29', '3.0', '15.0', '5.49',
       '23.99', '49.0', '20.99', '10.93', '1.39', '36.99', '4.49', '2.0',
       '4.0', '9.0', '234.99', '1.95', '1.5', '199.0', '189.0', '6.66',
       '27.99', '10.49', '129.99', '179.0', '26.99', '399.99', '31.99',
       '399.0', '20.0', '40.0', '3.33', '199.99', '22.99', '320.0',
       '38.85', '71.7', '59.95', '995.0', '27.49', '3.39', '6.0', '19.95',
       '499.99', '16.06', '4.68', '131.4', '44.98', '202.76', '1.0',
       '2.3', '0.95', '172.24', '249.99', '2.97', '10.96', '10.0', '30.0',
       '2.66', '6.48', '19.29', '11.15', '18.9', '2.89', 'play the demo',
       '99.0', '87.94', '599.0', '8.98', '9.69', '0.49', '9.98', '9.95',
       '7.0', 'starting at $499.00', 'starting at $449.00', '12.89',
       '6.49', '1.87', '42.99', '41.99', '289.99', '23.96', '5.65',
       '12.0', '13.37', '189.96', '124.99', '19.98', '160.91'],
      dtype=object)

Renombrar id por item_id

In [48]:
df_games = df_games.rename(columns={"id": "item_id"})

Cambiando el tipo de dato de item_id de object a int

In [49]:
df_games["item_id"] = df_games["item_id"].astype(int)
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28851 non-null  object
 1   app_name      32133 non-null  object
 2   release_date  30067 non-null  object
 3   price         32133 non-null  object
 4   item_id       32133 non-null  int32
 5   developer     28836 non-null  object
dtypes: int32(1), object(5)
memory usage: 1.3+ MB

## **Tablas para los EndPoints**
### **Creamos una copia del dataframe de steam_games para crear una tabla para la primera consulta de nuestra API:**  
**def developer( desarrollador : str ):**

In [50]:
df_games_developer = df_games.copy()

# Creamos una nueva columna 'year'
df_games_developer["release_date"] = pd.to_datetime(df_games["release_date"], errors="coerce")
df_games_developer["year"] = pd.to_datetime(df_games_developer["release_date"]).dt.year
df_games_developer.head(4)

,genres,app_name,release_date,price,item_id,developer,year
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,2018.0
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,free,643980,Secret Level SRL,2018.0
2,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,free,670290,Poolians.com,2017.0
3,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,0.99,767400,彼岸领域,2017.0

Como la columna 'year' es de tipo float, convertimos los NaN en 0 y pasamos a int:

In [51]:
df_games_developer["year"] = df_games_developer["year"].fillna(0)
df_games_developer["year"] = df_games_developer["year"].astype(int)

Eliminamos columnas innecesarias

In [52]:
drop_columnas = ["genres", "app_name", "release_date"]
df_games_developer = df_games_developer.drop(drop_columnas, axis=1)

In [53]:
df_games_developer.head(5)

  price  item_id         developer  year
0  4.99   761140         Kotoshiro  2018
1  free   643980  Secret Level SRL  2018
2  free   670290      Poolians.com  2017
3  0.99   767400              彼岸领域  2017
4  2.99   773570               NaN     0

### **Creamos una copia del dataframe de steam_games para crear una tabla para la tercera consulta de nuestra API:**  
**def UserForGenre( genero : str ):**

In [54]:
df_user_genre = df_games.copy()
# Creo una nueva columna que posea el primer elemento de cada lista de la columna 'genres'
# Para esto creo una funcion:
def obtener_primer_elemento(lista):
    if isinstance(lista, list):
        return lista[0]
    else:
        return np.nan
    
df_user_genre["genre"] = df_user_genre["genres"].apply(obtener_primer_elemento)
df_user_genre.head(5)

,genres,app_name,release_date,price,item_id,developer,genre
0,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,4.99,761140,Kotoshiro,Action
1,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,free,643980,Secret Level SRL,Free to Play
2,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,free,670290,Poolians.com,Casual
3,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,0.99,767400,彼岸领域,Action
4,NaN,Log Challenge,NaN,2.99,773570,NaN,NaN

Eliminamos las columnas innecesarias para esta consulta

In [55]:
drop_cols = ["genres", "app_name", "price", "developer"]
df_user_genre = df_user_genre.drop(drop_cols, axis=1)
df_user_genre.head(5)

  release_date  item_id         genre
0   2018-01-04   761140        Action
1   2018-01-04   643980  Free to Play
2   2017-07-24   670290        Casual
3   2017-12-07   767400        Action
4          NaN   773570           NaN

### **Creamos una copia del dataframe de steam_games para crear una tabla para la cuarta consulta de nuestra API:**  
**def best_developer_year( año : int ):**

In [56]:
df_best_developer = df_games_developer.copy()
df_best_developer.head(3)

  price  item_id         developer  year
0  4.99   761140         Kotoshiro  2018
1  free   643980  Secret Level SRL  2018
2  free   670290      Poolians.com  2017

Eliminamos las columnas innecesarias (solo necesitamos item_id, developer, year):

In [57]:
df_best_developer = df_best_developer.drop("price", axis=1)
df_best_developer.head(5)

   item_id         developer  year
0   761140         Kotoshiro  2018
1   643980  Secret Level SRL  2018
2   670290      Poolians.com  2017
3   767400              彼岸领域  2017
4   773570               NaN     0

## **Empezamos la Carga**
**Guardaremos los dataframes en archivos CSV**

Dataset steam_games para EDA:

In [58]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32133 entries, 0 to 32132
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28851 non-null  object
 1   app_name      32133 non-null  object
 2   release_date  30067 non-null  object
 3   price         32133 non-null  object
 4   item_id       32133 non-null  int32
 5   developer     28836 non-null  object
dtypes: int32(1), object(5)
memory usage: 1.3+ MB

In [59]:
df_games.to_parquet("./datasets/steam_games.parquet")

Dataset games_developer para EndPoint (Consulta 1: def developer( desarrollador : str ) ):

In [60]:
df_games_developer.to_parquet("./datasets_endpoints/games_developer.parquet")

Dataset user_genre para EndPoint (Consulta 3: ddef UserForGenre( genero : str ) ):

In [63]:
df_user_genre.to_parquet("./datasets_endpoints/games_user_genre.parquet")

Dataset best_developer_year para EndPoint (Consulta 4: def best_developer_year( año : int ) )

In [62]:
df_best_developer.to_parquet("./datasets_endpoints/best_developer_year.parquet")